/*

body {
    overflow-y: hidden;
    overflow-x: scroll;
    display: block;
}*/

/*#container {
    
    position: absolute;
    top: 50%;
    margin-top: -150px;
}*/

.iframe{
    display: block;
    width: 300px;
    height: 700px;
    float: center;
    margin-left: 250px;
    margin-right: 0px;
    border-radius: 20px;
    margin-top:20px;
    margin-bottom: 20px;
}


div.c-wrapper{
    width: 80%; /* for example */
    margin: auto;
}


.carousel-inner > div {
width: 100%; /* use this, or not */
margin: auto;
}

.panel-seize {
    width:1500px;
  background-color: #9ce39c;
  border-color: #9ce39c;
}

.panel-enciente{
    width:1500px;
  background-color: #9ce39c;
  border-color: #9ce39c;
}


.panel-dorian{
    width:1500px;
  background-color: #9ce39c;
  border-color: #9ce39c;
}

.panel-harvest{
  width:1500px;
  background-color: #9ce39c;
  border-color: #9ce39c;
}

p.description{
    width:1000px;
    text-align: center;
}

div.panel-p {
    background-color:#ffd700;
    width:1000px;
    border-width:1000px;

}

div.panel.panel-default{
    width:1500px;
    background-color: #ffd400;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:1000px;
}

img#brand.img-circle {
    display: block;
    margin-left: auto;
    margin-right: auto;
}



h1{
    text-align: center;
}

div.panel-about-ariel {
    background-image:url(https://i.ytimg.com/vi/HwQEcil06wU/maxresdefault.jpg);
    width:1500px;
    height:1000px;
  border-color: #9ce39c;
}